attendedsysupgrade-common
autocore
automount
base-files
bcm27xx-gpu-fw
bcm27xx-utils
block-mount
busybox
ca-bundle
cgi-io
cpufreq
default-settings
default-settings-chn
dnsmasq-full
dropbear
e2fsprogs
firewall4
fstools
fwtool
getrandom
jansson4
jshn
jsonfilter
kernel
kmod-asn1-decoder
kmod-crypto-acompress
kmod-crypto-aead
kmod-crypto-arc4
kmod-crypto-crc32c
kmod-crypto-ecb
kmod-crypto-hash
kmod-crypto-hmac
kmod-crypto-manager
kmod-crypto-null
kmod-crypto-rng
kmod-crypto-sha1
kmod-crypto-sha3
kmod-crypto-sha512
kmod-crypto-user
kmod-fs-exfat
kmod-fs-ext4
kmod-fs-ntfs3
kmod-fs-vfat
kmod-hid
kmod-hid-generic
kmod-input-core
kmod-input-evdev
kmod-lib-crc-ccitt
kmod-lib-crc16
kmod-lib-crc32c
kmod-lib-lzo
kmod-lib-textsearch
kmod-macvlan
kmod-mppe
kmod-nf-conntrack
kmod-nf-conntrack-netlink
kmod-nf-conntrack6
kmod-nf-flow
kmod-nf-log
kmod-nf-log6
kmod-nf-nat
kmod-nf-nathelper
kmod-nf-nathelper-extra
kmod-nf-reject
kmod-nf-reject6
kmod-nfnetlink
kmod-nft-core
kmod-nft-fib
kmod-nft-fullcone
kmod-nft-nat
kmod-nft-offload
kmod-nls-base
kmod-nls-cp437
kmod-nls-iso8859-1
kmod-nls-utf8
kmod-ppp
kmod-pppoe
kmod-pppox
kmod-scsi-core
kmod-slhc
kmod-sound-arm-bcm2835
kmod-sound-core
kmod-usb-core
kmod-usb-hid
kmod-usb-storage
kmod-usb-storage-extras
kmod-usb-storage-uas
libblkid1
libblobmsg-json20240329
libc
libcomerr0
libe2p2
libext2fs2
libf2fs6
libfdt
libgcc1
libgmp10
libiwinfo-data
libiwinfo20230701
libjson-c5
libjson-script20240329
liblua5.1.5
liblucihttp-lua
liblucihttp-ucode
liblucihttp0
libmnl0
libnetfilter-conntrack3
libnettle8
libnfnetlink0
libnftnl11
libnl-tiny1
libopenssl3
libpthread
librt
libsmartcols1
libss2
libubox20240329
libubus-lua
libubus20250102
libuci20250120
libuclient20201210
libucode20230711
libudebug
libustream-openssl20201210
libuuid1
logd
lua
luci
luci-app-attendedsysupgrade
luci-app-cpufreq
luci-app-firewall
luci-app-package-manager
luci-base
luci-compat
luci-i18n-attendedsysupgrade-zh-cn
luci-i18n-base-zh-cn
luci-i18n-cpufreq-zh-cn
luci-i18n-firewall-zh-cn
luci-i18n-package-manager-zh-cn
luci-lib-base
luci-lib-ip
luci-lib-ipkg
luci-lib-jsonc
luci-lib-nixio
luci-light
luci-lua-runtime
luci-mod-admin-full
luci-mod-network
luci-mod-status
luci-mod-system
luci-proto-ipv6
luci-proto-ppp
luci-theme-bootstrap
mkf2fs
mtd
netifd
nftables-json
ntfs3-mount
odhcp6c
odhcpd-ipv6only
openwrt-keyring
opkg
partx-utils
ppp
ppp-mod-pppoe
procd
procd-seccomp
procd-ujail
rpcd
rpcd-mod-file
rpcd-mod-iwinfo
rpcd-mod-luci
rpcd-mod-rpcsys
rpcd-mod-rrdns
rpcd-mod-ucode
shellsync
ubox
ubus
ubusd
uci
uclient-fetch
ucode
ucode-mod-fs
ucode-mod-html
ucode-mod-lua
ucode-mod-math
ucode-mod-ubus
ucode-mod-uci
uhttpd
uhttpd-mod-ubus
urandom-seed
usign
